<div class="textbox">
    <div id="titleblock" class="headtitle">
		<%= map.title %>
    </div>
    	
    <div id="subtitleblock" class="subtitle">
        submitted by <a href="/user/<%= map.author %>"><%= map.author %></a> on <%= map.formatteddate %>
    </div>
    <div class="subtitle" id="favouritedblock">favourited <%= map.favourited %> times</div>     
    
</div>