<!doctype html>
<head>
    <%-include partials/head.ejs %>
    <script type="text/javascript" src="/javascripts/markerclusterer.js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
    <script src="/javascripts/map.js" type="text/javascript"></script>
    <script src="/javascripts/geocodeController.js" type="text/javascript"></script>
</head>
<body>
    <div id="maincontainer" />
    <%-include partials/header.ejs %>
    <div id="body">
        <div id="container">
            <div class="homerow">
                <div class="ninecol" id="hometitle">Routebop - Find, Save & Share Journeys You Love</div>
            </div>
            <div class="maphomerow">
                <div class="maptwelvecol last">
                    <div id="homemap">
                        <div id="mymap"></div>
                    </div>
                </div>
            </div>
            <div class="homerow">
                <div class="twelvecol">
                    <div id="searchbox">Routes
                        <span id="homegeolocate"> near me</span><span id="geolocatemargin"> or routes near</span><input placeholder="place..." id="homeuserlocation"/><span id="homeuserlocationsubmit"><img class="locationsubmit" src="/images/mglass.png"></span>
                    </div>
                </div>
            </div>
            <div class="homerow">
                <div class="twelvecol" id="lineblock"></div>
            </div>
            <div class="homerow">
                <div class="threecol" id="homebuttontext">
                    <div class="homebutton" id="search"><a class="fill-div" href="/search">Search</a></div>
                </div>
                <div class="threecol">
                    <div class="htext">Browse through user journeys to discover the best parts of cities and countries around the World.</div>
                </div>
                <div class="threecol">
                    <div id="homebuttontext">
                        <div class="homebutton" id="add"><a class="fill-div" href="/new">Add</a></div>
                    </div>
                </div>
                <div class="threecol last">
                    <div class="htext">Submit your favourite routes to the site so others can benefit, whether A to B or epic road trips.</div>
                </div>
            </div>
            <div class="homerow">
                <div class="twelvecol" id="lineblocktwo"></div>
            </div>
            <div class="homerow">
                <div class="threecol" id="firstlistbox">
                    <b>Popular routes</b>
                    <ul class="list" id="mostfavourited">
                            <% fmaps.forEach(function(fmap){ %>
                                <li><a href=/show/<%= fmap._id %>><%= fmap.title %></a></li>
                            <% }) %>
                    </ul>
                </div>
                <div class="threecol" id="listbox">
                    <b>Latest routes</b>
                    <ul class="list" id="latestwanders">

                            <% dmaps.forEach(function(dmap){ %>
                                <li><a href=/show/<%= dmap._id %>><%= dmap.title %></a></li>
                            <% }) %>
                    </ul>
                </div>
                <div class="threecol" id="listbox">
                    <b>Places</b>
                    <ul class="list">
                        <li><a href="/places/london">London</a></li>
                        <li><a href="/places/paris">Paris</a></li>
                        <li><a href="/places/berlin">Berlin</a></li>
                        <li><a href="/places/new york">New York</a></li>
                        <li><a href="/places/san francisco">San Francisco</a></li>
                    </ul>
                </div>
                <div class="threecol last" id="listbox">
                    <b>Tags</b>
                    <ul class="list">
                        <li><a href="/tags/pub">Pubs</a></li>
                        <li><a href="/tags/restaurant">Restaurants</a></li>
                        <li><a href="/tags/museum">Museums</a></li>
                        <li><a href="/tags/park">Parks</a></li>
                        <li><a href="/tags/cafe">Cafes</a></li>
                    </ul>
                </div>
            </div>
            <div class="homerow">
                <div class="twelvecol" id="lineblock"></div>
            </div>
            <div class="clearfooter"></div>
        </div>
        <div id="footer"> 
        </div>
    </div>
</body>
</html>
<script>
    var mc;
    var geocodeCtrl = new geocodeController;
    var map = new Map;
    var center = new google.maps.LatLng(51.50678771873268, -0.12717489055171427)

    $(document).ready(function() {
    
        map.createMap('mymap', center, map.returnShowMapOptions(center));
        map.addInitialSearchListener();
        geocodeCtrl.init('#homeuserlocation','#homegeolocate',  '#homeuserlocationsubmit')
    });
    
    
</script>