<!doctype html>
<head>
    <%- include partials/head.ejs %>

</head>
<body>
    <div id="maincontainer">
        <%-include partials/header.ejs %>
        <div id="body">
            <div id="container">
                <div class="row">
                    <div class="sixcol">
                        <%- include partials/showhead.ejs %>
                    </div>
                    <div class="sixcol last">
                        <% include partials/showedit.ejs %>
                    </div>
                </div>
                <div class="row">
                    <div class="ninecol">
                        <div id="map">
                            <div id="mymap"></div>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div style="margin-top: 10px"><b>Places</b></div>
                        <ul id="desclist" class="showlist"></ul>
                    </div>
                </div>
                <%-include partials/favourite.ejs %>
                <div class="row">
                    <div class="fourcol">

                        <% if (jsonobj.description) { %>
                            <div><b>Description</b></div>
                            <div><p><%= jsonobj.description %></p></div>
                        <% } %>

                        <% if (jsonobj.tags) { %>
                            <div id="showtags"><b>Tags</b></div>
                            <ul id="maptags">
                            <% jsonobj.tags.forEach(function(tag){ %>
                                <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
                             <% }) %>
                            </ul>
                        <% } %>
                    </div>
                    <div class="fourcol last">
                        <% if (jsonobj.images > 0) { %>
                            <div><b>Images</b></div>
                            <% jsonobj.images.forEach(function(image){ %>
                                <span><a href="<%=image.mainurl %>"><img src="<%= image.thumburl %>"></a></span>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="clearfooter"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
<script>
    var map;
    var arrayofwaypoints = [];
    var infowindow = new google.maps.InfoWindow();
    var locobj = <%- obj %>;
    
    function favouritePost() {
        var obj = {
            favourite: locobj._id,
            plusone: locobj.favourited + 1
        };
    
        $.ajax({
            url: "/show",
            type: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify(obj),
            complete: function(data) {
                $('#result').append().html(data.responseText);    
            }
        });
    };
    
    function placeMarker(location, descriptions) {
      var newmarker = new google.maps.Marker({
          position: location,
          map: map,
          flat: true
          });

        google.maps.event.addListener(newmarker, 'click', function() {
        infowindow.setContent(descriptions)
        infowindow.open(map, newmarker);
        }); 
    
        $("<li>").html(descriptions + "</li>").click(function(){
            infowindow.setContent(descriptions);
            infowindow.open(map, newmarker); 
        }).appendTo("#desclist");
    };
    
    function create_blankmap(){
    
    var mapOptions = {
        center: new google.maps.LatLng(locobj.waypoints[0].lat, locobj.waypoints[0].lon),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControlOptions: {
             mapTypeIds: [google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.SATELLITE, "Toner"]
        },
        styles: [
      {
        "featureType": "landscape.man_made",
        "stylers": [
          {  }
        ]
      }
    ],
        panControl: false,
        zoomControl: false,
        scaleControl: false,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
        },
        streetViewControl: true
        };
       
    map = new google.maps.Map(document.getElementById("mymap"), mapOptions);
    map.mapTypes.set("Toner", new google.maps.StamenMapType("toner"));
    bounds = new google.maps.LatLngBounds();
    
    // loop through markers and add to map
    
    for ( var i = 0, j = locobj.places.length; i < j; i++ ) {
      var marker = new google.maps.LatLng(locobj.places[i].lat, locobj.places[i].lon);
        bounds.extend(marker);
        var descs = locobj.markerdescs[i];
        placeMarker(marker, descs);
    };
    
    // loop through waypoints and add to array of waypoints which is then added to map
    
    for ( var i = 0, j = locobj.waypoints.length; i < j; i++) {
        var x = new google.maps.LatLng(locobj.waypoints[i].lat, locobj.waypoints[i].lon);
        arrayofwaypoints.push(x);
        bounds.extend(x);
      };
    
    // add polyline to map
    var lineSymbol = {
      path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
    };
    
    var route = new google.maps.Polyline({
        path: arrayofwaypoints,
        strokeOpacity: 0.7,
        strokeWeight: 3,
        strokeColor: '#FF0000',
        icons: [{
        icon: lineSymbol,
        offset: '0',
        repeat: '150px'
      }],
      });
    route.setMap(map);
    map.fitBounds(bounds);

    // end of create blankmap function
    
    };
    
    $(document).ready(function () {
    create_blankmap();
    
    $('#favourite').click(function() { 
        favouritePost();
        });
    });
    
</script>