<!doctype html>
<head>
    <%- include partials/head.ejs %>
    <script src="/javascripts/map.js" type="text/javascript"></script>
</head>
<body>
    <div id="maincontainer">
        <%-include partials/header.ejs %>
        <div id="body">
            <div id="container">
                <div class="row">
                    <div class="sixcol">
                        <%- include partials/showhead.ejs %>
                    </div>
                    <div class="sixcol last">
                        <% include partials/showedit.ejs %>
                    </div>
                </div>
                <div class="row">
                    <div class="ninecol">
                        <div id="map">
                            <div id="mymap"></div>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div style="margin-top: 10px"><b>Places</b></div>
                        <ul class="showlist"></ul>
                    </div>
                </div>
                <%-include partials/favourite.ejs %>
                <div class="row">
                    <div class="fourcol">

                        <% if (map.description) { %>
                            <div><b>Description</b></div>
                            <div><p><%= map.description %></p></div>
                        <% } %>

                        <% if (map.tags && map.tags[0]) { %>
                            <div><b>Tags</b></div>
                            <ul id="maptags">
                            <% map.tags.forEach(function(tag){ %>
                                <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
                             <% }) %>
                            </ul>
                        <% } %>
                    </div>
                    <div class="fourcol last">
                        <% if (map.images.length) { %>
                            <div class="imageHeader"><b>Images</b></div>
                            <% map.images.forEach(function(image){ %>
                                <span><a href="<%=image.mainurl %>"><img class="thumbnail" src="<%= image.thumburl %>"></a></span>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="clearfooter"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
<script>
    var jmap = <%- jmap %>;
    var map = new Map;
    var center = new google.maps.LatLng(jmap.waypoints[0].lat, jmap.waypoints[0].lon)
    
    $(document).ready(function () {
        map.createMap('mymap', center, map.returnShowMapOptions()); 
        map.addMarkersToMap(jmap.places, jmap.markerdescs);
        map.addWaypointsToMap(jmap.waypoints);
        map.addFavouriteClick('#favourite');
    });
   
</script>