<!doctype html>
<head>
<%-include partials/head.ejs %>
    <script type="text/javascript" src="/javascripts/markerclusterer.js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
    <script src="/javascripts/map.js" type="text/javascript"></script>

</head>
<body>
<div id="maincontainer">
<%-include partials/header.ejs %>
    <div id="body"> 
      <div id="container">

        <div class="userheader"><b><%= usr._id %></b></div>
        <div class="twelvecol"><div id="userinfo"><%= usr.info %></div></div>

    <div class="row">
            
          <div class="ninecol">
              <div id="usermap">
                    <div id="mymap"></div>
              </div>

              <div>
                    <div id="maptaglist"><b>Filter by tags</b></div>
                       <ul id="maptags"></ul>
              </div>

              <div id="showalltagsbutton" class="hide-element">Show all tags</div>

          </div>
          
          <div class="threecol last">
                <div id="show-route-list-header">Routes</div>
                <ul class="maplist showlist"></ul>
          </div>
      </div>

      </div>
    <div class="clearfooter"></div> 
</div>
    <div id="footer"></div>
</div>
</body>
</html>

<script>

var mc;
var map = new Map;

var jmaps = <%- jmaps %>
var center = new google.maps.LatLng(51.50678771873268, -0.12717489055171427);

$(document).ready(function() {

        map.createMap('mymap', center, map.returnShowMapOptions(center));
        map.processMapData(jmaps);
        gmap.fitBounds(bounds);
        map.filterByTagWithoutSendingToServer('#maptags', jmaps)
        map.removeFilterForUser('#showalltagsbutton', jmaps)

});

</script>

